html {
    scroll-behavior: smooth;
}

/* main {
    padding: 16px;
} */

h1 {
    padding: 3em;
    font-family: sans-serif;
}

h2 {
    font-family: sans-serif;
}

section {
    padding: 3em 2.5em;
    margin-right: 40%;
    font-size: 1.25rem;
}

.active-class {
    background: red;
}

#nav_list {
    display: flex;
    justify-content: flex-end;
}

li {
    font-size: 2rem;
    list-style-type: none;
    margin-right: 0.25em;
}

li:hover {
    text-shadow: 1px 1px grey;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* Might make it jump less when scrolling https://www.w3schools.com/howto/howto_js_navbar_sticky.asp  */

/* .sticky + main {
    padding-top: 60px;
} */