html {
    scroll-behavior: smooth;
}

h1 {
    padding: 3em;
    font-family: sans-serif;
}

h2 {
    font-family: sans-serif;
}

section {
    padding: 3em 2.5em;
    margin-right: 40%;
    font-size: 1.25rem;
}

.active-class {
    background: red;
}
